@font-face {
    font-family: 'Nunito Sans';
    src: url('../Fonts/NunitoSans-Regular.ttf');
}

.body {
    margin: 0;
    font-family: 'Nunito Sans';
}

.header_button {
  font-family: 'Nunito Sans';
  font-style: italic;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E3B873;
  box-shadow: 0px 5px 15px 
  rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
}

.main_header {
  width: 1438px;
  background: #131313;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
}

.header_navi {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}

.header_navi_item a {
  margin: 47px;
  font-family: 'Nunito Sans';
  font-style: none;
  color: #FFFFFF;
  text-decoration: none;
}

.phone_number {
  font-family: 'Nunito Sans';
  font-style: normal;
  text-align: center;
  text-decoration-line: underline;
  color: #E3B873;
}

.logo {
  font-family: 'Nunito Sans';
  font-style: normal;
  text-transform: uppercase;
  color: #E3B873;
}